:root {
  --ls-left-sidebar-width: 300px; 
  --ls-font-family:        Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --ct-code-font-family:   ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

html,
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  font-family: var(--ls-font-family);
}

/* color config */
.white-theme, html[data-theme=light] {
  --tw-bg-opacity:              1;
  --tw-text-opacity:            1;
  --tw-border-opacity:          1;
  --text-white:                 rgb(255 255 255/var(--tw-text-opacity));
  --text-black:                 #000000;
  --text-accent:                rgb(79 70 229/var(--tw-text-opacity));
  --text-coolgray-400:          rgb(156 163 175/var(--tw-text-opacity));
  --text-coolgray-500:          rgb(107 114 128/var(--tw-text-opacity));
  --text-coolgray-900:          rgb(17 24 39/var(--tw-text-opacity));
  --bg-white:                   rgb(255 255 255/var(--tw-bg-opacity));
  --bg-accent:                  rgb(79 70 229/var(--tw-text-opacity));
  --bg-indigo-600:              rgb(79 70 229/var(--tw-text-opacity));
  --bg-coolgray-50:             rgb(249 250 251/var(--tw-bg-opacity));
  --bg-gray-200\/50:            rgba(229,231,235,.5);
  --bg-gray-300:                rgb(209 213 219/var(--tw-bg-opacity));
  --bg-gray-800\/30:            rgba(31,41,55,.3);
  --border-coolgray-900\/15:    rgba(17,24,39,.15);
  --border-gray-100:            rgb(243 244 246/var(--tw-border-opacity));
  --tw-prose-headings:          #111827;
  --tw-prose-code:              #111827;
  --tw-prose-quote-borders:     #e5e7eb;
  --tw-prose-pre-bg:            #1f2937;
  --tw-prose-pre-code:          #e5e7eb;
  --table-border-color:         #e5e7eb;
}


html[data-theme=light], #root > div, .theme-inner {
  --ls-title-text-color:          var(--tw-prose-headings);
  --ls-primary-text-color:        var(--text-black);
  --ls-secondary-text-color:      var(--text-coolgray-900);
  --ls-tag-text-color:            var(--text-accent);
  --ls-link-text-color:           var(--text-accent);
  --ls-block-bullet-color:        var(--bg-gray-300);
  --ls-link-ref-text-color:       var(--text-accent);
  --ls-link-text-hover-color:     var(--text-accent);
  --ls-border-color:              var(--border-gray-100);
  --ls-quaternary-background-color:   var(--bg-gray-200\/50);
  --ls-tertiary-background-color:     var(--bg-gray-200\/50);
  --bg-left-sidebar:                  var(--bg-coolgray-50);
  --border-primary:                   var(--border-coolgray-900\/15);
  --text-tertiary:                    var(--text-coolgray-400);
  --text-quaternary:                    var(--text-coolgray-400);
}

/* color config */
.dark-theme, html[data-theme=dark] {
  --tw-bg-opacity:              1;
  --tw-text-opacity:            1;
  --tw-border-opacity:          1;
  --text-white:                 rgb(255 255 255/var(--tw-text-opacity));
  --text-black:                 #000000;
  --text-accent:                rgb(79 70 229/var(--tw-text-opacity));
  --text-coolgray-400:          rgb(156 163 175/var(--tw-text-opacity));
  --text-coolgray-500:          rgb(107 114 128/var(--tw-text-opacity));
  --text-coolgray-900:          rgb(17 24 39/var(--tw-text-opacity));
  --bg-white:                   rgb(255 255 255/var(--tw-bg-opacity));
  --bg-accent:                  rgb(79 70 229/var(--tw-text-opacity));
  --bg-indigo-600:              rgb(79 70 229/var(--tw-text-opacity));
  --bg-coolgray-50:             rgb(249 250 251/var(--tw-bg-opacity));
  --bg-gray-200\/50:            rgba(229,231,235,.5);
  --bg-gray-300:                rgb(209 213 219/var(--tw-bg-opacity));
  --bg-gray-800\/30:            rgba(31,41,55,.3);
  --border-coolgray-900\/15:    rgba(17,24,39,.15);
  --border-gray-100:            rgb(243 244 246/var(--tw-border-opacity));
  --tw-prose-headings:          #111827;
  --tw-prose-code:              #111827;
  --tw-prose-quote-borders:     #e5e7eb;
  --tw-prose-pre-bg:            #1f2937;
  --tw-prose-pre-code:          #e5e7eb;
  --table-border-color:         #e5e7eb;
}


html[data-theme=dark], #root > div, .theme-inner {
  --ls-title-text-color:          var(--tw-prose-headings);
  --ls-primary-text-color:        var(--text-black);
  --ls-secondary-text-color:      var(--text-coolgray-900);
  --ls-tag-text-color:            var(--text-accent);
  --ls-link-text-color:           var(--text-accent);
  --ls-block-bullet-color:        var(--bg-gray-300);
  --ls-link-ref-text-color:       var(--text-accent);
  --ls-link-text-hover-color:     var(--text-accent);
  --ls-border-color:              var(--border-gray-100);
  --ls-quaternary-background-color:   var(--bg-gray-200\/50);
  --ls-tertiary-background-color:     var(--bg-gray-200\/50);
  --bg-left-sidebar:                  var(--bg-coolgray-50);
  --border-primary:                   var(--border-coolgray-900\/15);
  --text-tertiary:                    var(--text-coolgray-400);
  --text-quaternary:                    var(--text-coolgray-400);
}

/* electron */
.button#search-button.button.icon{
  display: none;
}


/* ::selection {
	background: #8cf;
	color: #fff;
	text-shadow: none
} */

/* ---------------------left sidebar-------------------------- */

.cp__sidebar-left-layout a{
  opacity: 1;
}

/* 左侧背景栏 */
.left-sidebar-inner {
  background-color: var(--bg-left-sidebar);
  border-right: 			1px solid rgb(229, 231, 235);
  opacity:            1;
}

/* 点击item */
.left-sidebar-inner a.item{
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--ls-secondary-text-color);
}

.left-sidebar-inner a.item:hover{
  background-color: var(--ls-tertiary-background-color)!important;
}

.dark.left-sidebar-inner a.item:hover{
  background-color: hsla(0,0%,100%,.03);
}

.left-sidebar-inner a.item.hover, .left-sidebar-inner a.item.active{
  background-color: var(--ls-tertiary-background-color);
  color: var(--text-accent);
}

.ext-sidebar-item, .cp__settings-inner > aside > ul > li.settings-menu-item, #left-sidebar .left-sidebar-inner > .flex .nav-contents-container .favorite-item > .flex, #left-sidebar .left-sidebar-inner > .flex .nav-contents-container .recent-item > .flex, #left-sidebar .left-sidebar-inner > .flex .item {
  gap: 6px;
}

/* Create Page 替换为 Search，并且上移 */
/* 上移 Create 至最上方 */
#left-sidebar .left-sidebar-inner > .flex .create {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    order: -1;
  }
/* Search 栏的颜色 */
#left-sidebar .left-sidebar-inner > .flex .create .new-page-link{
    background-color: var(--bg-white);
    /* box-shadow: none; */
    border: 1px solid var(--border-primary);
  }
#left-sidebar .left-sidebar-inner > .flex .create .new-page-link > .ls-icon-circle-plus::before {
    content: "\eb1c";
    font-family: tabler-icons;
    -webkit-font-smoothing: antialiased;
    color: var(--text-tertiary);
  }
#left-sidebar .left-sidebar-inner > .flex .create .new-page-link > .ls-icon-circle-plus > svg {
    display: none;
  }
#left-sidebar .left-sidebar-inner > .flex .create .new-page-link > span.flex-1 {
    display: none;
  }
#left-sidebar .left-sidebar-inner > .flex .create .new-page-link::after {
    content: "Search anything...";
    font-weight: 400;
    font-size: .8125rem;
    color: var(--text-tertiary);
  }

/* favorite */
/* hide favorite icon */
.left-sidebar-inner .nav-content-item .bd ul a .page-icon {
	display: none;
}

.favorites .ui__icon.ti.ls-icon-star {
    display: none;
}

/* 修正 favorite 标题的缩进 */
.favorites .ml-2{
  margin-left: 0px;
}

.left-sidebar-inner .nav-content-item .header .wrap-th>span{
  font-size: 12px;
  color: var(--text-tertiary);
}

.left-sidebar-inner .nav-content-item .bd ul a .page-title{
  color: var(--text-quaternary);
  font-weight: 500;
  font-size: .8125rem;
}

.left-sidebar-inner .nav-content-item .bd ul a:hover{
  background-color: var(--ls-tertiary-background-color);
}

/* hide RECENT */
.recent {
  display: none;
}

.left-sidebar-inner .create{
  background-image: none;
}

/* ---------------------right sidebar-------------------------- */

h1.title {
  font-size: 1.4285714em;
  line-height: 1.4;
  font-weight: 600;
}
.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
  border-bottom: 0px solid;
}
.editor-inner .uniline-block:is(.h1), .ls-block :is(h1){
  font-size: 1.4285714em;
  line-height: 1.4;
  font-weight: 600;
  color: var(--tw-prose-headings);
  /* margin-top: 0;
  margin-bottom: 0.8em; */
}
.editor-inner .uniline-block:is(.h2), .ls-block :is(h2){
  font-size: 1.2857143em;
  line-height: 1.4;
  font-weight: 500;
  color: var(--tw-prose-headings);
  /* margin-top: 1.6em;
  margin-bottom: 0.8em; */
}
.editor-inner .uniline-block:is(.h3), .ls-block :is(h3){
  font-size: 1.1428571em;
  line-height: 1.5555556;
  font-weight: 500;
  color: var(--tw-prose-headings);
}
.editor-inner .uniline-block:is(.h4), .ls-block :is(h4){
  font-size: 16px;
  line-height: 1.4285714;
  font-weight: 600;
  color: var(--tw-prose-headings);
}
.editor-inner .uniline-block:is(.h5), .ls-block :is(h5){
  font-size: 14px;
  /* line-height: 1.5555556; */
  font-weight: 700;
  color: var(--tw-prose-headings);
}
#main-content-container{
  font-size: 15px;
  line-height: 1.72;
}
textarea{
  font-size: 1em;
  line-height: 1.72;
}
body{
  line-height: 1.72;
}

/* bullet */
.bullet-container .bullet {
  height: 5px;
  width: 5px;
}
a:hover>.bullet-container {
  background-color: transparent;
}

/* block-children-left-border */
.block-children-left-border {
  width: 1px;
  border-radius: 100%;
}
.block-children-left-border:hover {
  background-color: var(--text-accent);
}

.bullet-container.bullet-closed {
  background-color: transparent;
}

.bullet-container.cursor.bullet-closed .bullet {
  background-color: var(--text-accent);
  box-shadow: 0 0 0 3px #d4d4d8;
}

/* Link Reference 透明背景，缩小字体*/
.color-level {
  background-color: transparent;
  font-size: 0.9em;
}
.references-blocks .editor-inner textarea{
  font-size: inherit;
}
.page-reference:hover {
  background: transparent;
}

/* 代码块字体 */
:not(pre)>code,
.CodeMirror {
    font-family: var(--ct-code-font-family);
    background-color: #f3f4f6;
    font-size: 85%;
}
.dark :not(pre)>code  {
    color: #c9d1d9;
    background-color: #374151;
}

/* 代码块 */
.CodeMirror-scroll {
  /* border-radius: 20px; */
  background-color: var(--tw-prose-pre-bg);
  padding-bottom: 54px;
  padding-top: 12px;
}

/* 调整代码块颜色字体 */
.CodeMirror pre.CodeMirror-line, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer {
  font-size: .8rem;
  color: var(--tw-prose-pre-code);
}

.CodeMirror pre.CodeMirror-line{
  padding-left: 20px;
}


/* 取消代码块文字的阴影 */
.cm-s-solarized.cm-s-light{
  text-shadow: none;
  border-radius: 0.25rem;
}

/* 隐藏代码块的行数 */
.CodeMirror-linenumber,.CodeMirror-gutter{
  display: none;
}

/* tag */
a.tag {
  font-size: 1em;
  opacity: 1;
}

/* 引用 */
blockquote {
  background-color: transparent;
  border-left-color: var(--tw-prose-quote-borders);
  padding: 1px 20px;
  /* color: var(--content-second); */
}


/* todo */
.form-checkbox, .form-radio{
  background-color: #FFFFFF;
  border: 1px solid var(--ls-tertiary-background-color);
  border-radius: 0.25rem;
}

.form-checkbox:checked, .form-radio:checked {
  background-color: var(--bg-accent);
  margin-right: 10px!important;
  border-color: transparent;
}

.form-checkbox:checked:focus, .form-checkbox:checked:hover, .form-radio:checked:focus, .form-radio:checked:hover {
  background-color: var(--bg-accent);
}

.canceled, .cancelled, .done {
  opacity: 0.7;
  text-decoration: none;
}

.marker-switch:hover {
  color: var(--bg-accent);
  opacity: 1;
}

.block-marker {
  font-weight: 500;
}

/* scrollbars */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* border: 16px solid transparent; */
  background-clip: content-box;
  height: 10%;
}

::-webkit-scrollbar {
  /* display: none; */
  border-radius: 20px;
  border: 16px solid transparent;
  background-clip: content-box;
}

.cp__right-sidebar.closed{
display: none;
}



/* table */

/* Table styling */

.table-wrapper > table {
	table-layout: fixed;
	width: 100%;
	/* border-top: 1px var(--table-border-color) solid; */
	border-bottom: 1px var(--table-border-color) solid;
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	font-feature-settings: "tnum";
}

.table-wrapper :is(tr,tr:nth-child(even)) {
	background: inherit;
}

.table-wrapper tbody {
	border-top: 1px var(--table-border-color) solid;
}

.table-wrapper tbody > tr:not(:first-child) {
	border-top: 1px var(--table-border-color) solid;
}

.table-wrapper :is(th,td) {
	font-size: var(--table-font-size, 90%);
	line-height: calc(var(--content-line-height, 18pt)*0.83);
	border-bottom: none;
	vertical-align: top;
	padding: 7px;
}
.table-wrapper :is(th,td) code {
	font-size: 85%;
}

.table-wrapper th {
	font-weight: bold;
	text-transform: var(--table-heading-transform, "none");
	font-size: var(--table-heading-font-size, 90%);
}



/* --------------------others--------------------- */

/* 搜索框 */
/* 搜索框变窄变白 */
.cp__palette-main, .cp__select-main,
.ui__modal-panel .panel-content .ls-search{
    width: 36rem;
    background: var(--bg-white);
    color: var(--ls-secondary-text-color);
    opacity: 1;
    font-size: .8125rem;
}

.dark .cp__palette-main,.dark .cp__select-main,
.dark .ui__modal-panel .panel-content .ls-search{
    width: 36rem;
    background: rgb(17, 24, 39);
    /* border: 1px solid rgb(55 65 81); */
}

.ui__modal-panel .panel-content{
    min-width: 36rem;
}

/* 搜索框的字重 */
.cp__palette-main .search-result, .cp__select-main .search-result{
    font-size: .8125rem;
    color: var(--ls-secondary-text-color);
}

/* 搜索记录的选择颜色 */
.cp__palette-main .menu-link.chosen, .cp__palette-main .menu-link.chosen p, .cp__select-main .menu-link.chosen, .cp__select-main .menu-link.chosen p {
    background-color: var(--ls-a-chosen-bg);
}

.menu-link:hover, button.menu:focus, button.pull:hover{
    background-color: var(--ls-a-chosen-bg);
}

/* 隐藏搜索历史里的小图标 */
.cp__palette-main .menu-link .type-icon, .cp__select-main .menu-link .type-icon{
    display: none;
}

/* 阴影遮罩 blur */
.ui__modal-overlay div{
    background: var(--bg-overlay);
    --tw-backdrop-blur: blur(4px);
    backdrop-filter: var(--tw-backdrop-blur);
    opacity: 1;
}


/* Setting */
.ui__modal-panel {
  background: var(--bg-white);
}

/* setting-left-sidebar*/
.cp__settings-inner>aside ul>li.active{
  background-color: var(--ls-tertiary-background-color);
  color: var(--text-accent);
}

.cp__settings-inner>aside ul>li>a>strong{
  font-weight: 500; 
  padding-left: 0.5rem;
  /* color: var(--content-primary); */
}

.cp__settings-inner .panel-wrap>.it label {
  align-items: center;
  display: flex;
  color: var(--text-quaternary);
}

.cp__settings-inner .theme-modes-options>li>strong{
  font-weight: 400;
}

.ui__button{
  background-color: var(--bg-white);
  color: var(--ls-secondary-text-color);
  border: 1px solid var(--border-primary);
  font-weight: 400;
  font-size: 0.8em;
}

.ui__button.p-1 {
  padding: 0.4rem 0.8rem!important;
}

.ui__button:hover{
  background-color: transparent;
}

.form-select{
  border-color: var(--ls-tertiary-background-color);
}

/* setting 滑块按钮颜色 */
.ui__toggle.is-small [aria-checked="true"] {
background-color: var(--text-accent);
}

/* .ui__toggle.is-small [aria-checked="false"] {
background-color: #64748b;
} */


/* -------------------------plugins---------------------------- */
/* kanban */
.react-kanban-column {
  /* white-space: normal;
  min-width: 290px;
  padding: 15px; */
  /* border-radius: 2px; */
  background-color: #F5F5F5!important;
  box-shadow: none!important;
  /* margin: 5px;
  width: 290px; */
  border-radius: 0.25rem!important;
}

.react-kanban-column-header {
  /* padding-bottom: 10px; */
  font-weight: 500!important;
  font-size: 1rem!important;
}

.react-kanban-column:hover {
  transform: translateY(0px)!important;
  /* transition: all 0.1s; */
}

.react-kanban-card {
  border-radius: 3px;
  background-color: transparent!important;
  padding: 0px!important;
  margin-bottom: 7px;
  width: 250px;
}

.react-kanban-card:hover {
  box-shadow: none!important;
}

.logseq-heatmap-trigger-icon{
  font-size: 20px;
  margin: 0px 0.4em 0 0.4em ;
}

#logseq-pomodoro-timer--pomodoro_timer .button{
  font-size: small!important;
  font-weight: 600;
}
